.button {
  width: 5rem;
  height: 5rem;
  border: 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grey {
  composes: button;
  background-color: #ddd;
}

.grey:active {
  background-color: #f7bbd5;
}

.red {
  composes: button;
  background-color: transparent;
  border: 1px solid #ff2f14;
  color: #ff2f14;
}

.red:active {
  background-color: #ffe8e6;
}

.yellow {
  composes: button;
  background-color: transparent;
  border: 1px solid #f89b08;
  color: #f89b08;
}

.yellow:active {
  background-color: #fef3e0;
}

.label {
  margin: 0;
  font-size: 3rem;
  line-height: 3rem;
}

.smallLabel {
  margin: 0;
  font-size: 0.75rem;
}
