.app {
  display: flex;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predictions {
  padding-top: 1rem;
  padding-left: 3rem;
  width: 20rem;
  height: 30rem;
  transition: opacity 0.25s;
}

.loading {
  opacity: 0.25;
}

.warning {
  color: #f1609d;
}
