@font-face {
  font-family: "Glacial Indifference";
  src: url("fonts/GlacialIndifference-Regular.woff") format("woff");
}

@font-face {
  font-family: "Glacial Indifference";
  font-weight: 700;
  src: url("fonts/GlacialIndifference-Bold.woff") format("woff");
}

* {
  font-family: "Glacial Indifference", sans-serif;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
